body{
  margin: 0;
  padding: 0;
  background: url(bg5.jpg) no-repeat;
  background-size: cover;
}

h1
{
  
  background-color: white;
    padding-top: 6px;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Brush Script MT";
    letter-spacing: 0.4em;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    animation: text 2s 1;
}

p
{
  background-color: white;
  background-size: cover;
}

@keyframes text
{
  0%{
    color: #dfe6e9;
  }
  30%
  {
    color: #b2bec3;
    letter-spacing: 25px;
  }
  50%
  {
    color: #636e72;
    letter-spacing: 50px;
  }
  80%
  {
    color: #2d3436;
    letter-spacing: 70px;
  }
}

.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: "Arial Rounded MT Bold";
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 160px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
