body
{
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)),url(bg4.jpg);
	position: contain;
	background-repeat: no-repeat;
}


h1
{

	background-color: white;
  	padding-top: 6px;
  	padding-bottom: 6px;
  	text-align: center;
  	text-transform: uppercase;
  	font-family: "Brush Script MT";
  	letter-spacing: 0.4em;
  	font-size: 60px;
  	text-align: center;
  	margin-top: 20px;
  	animation: text 2s 1;
}

p
{
  background-color: white;
  background-size: cover;
}


@keyframes text
{
  0%{
    color: #dfe6e9;
  }
  30%
  {
    color: #b2bec3;
    letter-spacing: 25px;
  }
  50%
  {
    color: #636e72;
    letter-spacing: 50px;
  }
  80%
  {
    color: #2d3436;
    letter-spacing: 70px;
  }
}

.single-blog
{
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 30px;
	background-color: #fff;
}

.single-blog img
{
	width: 100%;
}

.blog-meta
{
	font-size: 14px;
	margin-bottom: 2px;
}

.single-blog span
{
	float: right;
	font-size: 12px;
	color: orange;
	
}

.fa-thumbs-up
{
	padding: 10px 10px 0px 20px;
}

.fa-comment-o
{
	padding: 10px 10px 0px 20px;
}

.blog-text
{
	font-size: 14px;
	text-align: justify;
}

.single-blog h2
{
	margin-top: 10px;
	font-size: 16px;

}

.single-blog h2 a
{
	text-decoration: none;
	color: #fab1a0;
}

.read-more-btn
{
	background-image: linear-gradient(to right,  #3498db, blue);
	padding: 5px 12px 8px;
	border-radius: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	border: none! important;
	transition: 1s;
	position: relative;
	overflow: hidden;
}

.read-more-btn: hover
{
	background-image: linear-gradient(to right, #3498db, blue);
	text-decoration: none;
	color: #fff;
}


