*
{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}


h1
{
	
	background-color: none;
  	padding-top: 6px;
  	padding-bottom: 6px;
  	text-align: center;
  	text-transform: uppercase;
  	font-family: "Brush Script MT";
  	letter-spacing: 0.4em;
  	font-size: 60px;
  	text-align: center;
  	margin-top: 20px;
  	animation: text 2s 1;
}

p
{
  background-color: white;
  background-size: cover;
}

@keyframes text
{
  0%{
    color: black;
  }
  30%
  {
    letter-spacing: 25px;
  }
  50%
  {
    letter-spacing: 50px;
  }
  85%
  {
    letter-spacing: 80px;
  }

}

.contact-section
{
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(bg3.jpg) center;
	height: 100%;
	background-size: cover;
	padding: 120px 0;
}
.contact-section h2
{
	text-align: center;
	color: white;
	font-family: "Arial Rounded MT Bold";
	font-size: 40px;
}
.border
{
	width: 100px;
	height: 10px;
	background: #fdcb6e;
	margin: 20px auto;
	font-size: 30px;
}
.contact-form
{
	max-width: 600px;
	padding: 0 10px;
	margin: auto;
	overflow: hidden;
	
}
input[type=text], input[type=email]
{
	width: 100%;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.6);
	outline: none;
	border: none;
	border-bottom: 1px dotted pink;
	color: white;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
}

.contact-form-text
 {
 	display: block;
 	width: 100%;
 	box-sizing: border-box;
 	margin: 16px 0;
 	border: 0;
	background: rgba(0,0,0,0.5);
	padding: 12px 5px;
	outline: none;
 	font-size: 15px;
	font-family: "Roboto", sans-serif;
	color: white;
 }

.contact-form-text:focus
{
	box-shadow: 0 0 10px 4px #ffeaa7;
}

textarea.contact-form-text
{
	resize: none;
	height: 120px;
	background: rgba(0,0,0,0.6);
}


.contact-form-btn
{
	float: right;
	width:100%;
	box-sizing: border-box; 
	padding: 5px 0;
	margin-top: 15px;
	outline: none;
	border: 0;
	background: orange;
	opacity: 0.8;
	border-radius: 20px;
	font-size: 20px;
	color: black;