body
{
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(bg2.jpg);
	background-size: cover;
	font-family: Arial;
}

.sign
{
	max-width: 350px;
	border-radius: 20px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 40px;
	color: white;
	margin-top: 100px;

}
h2
{
	text-align: center;
	font-family: "Arial Rounded MT Bold";
	font-size: 30px;
}
input[type=text], input[type=password]
{
	width: 100%;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted pink;
	color: white;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
}
input[type=submit]
{
	width:100%;
	box-sizing:border-box; 
	padding: 5px 0;
	margin-top: 15px;
	outline: none;
	border: none;
	background: orange;
	opacity: 0.8;
	border-radius: 20px;
	font-size: 20px;
	color: black;

}
input[type=submit]:hover
{
	background: #FFD700;
	opacity: 0.7;

}

