*
{
  margin: 0;
  padding: 0;
}

header
{
  background-image: url(bg1.jpg);
  background-color: #EDEAE5;
  background-size: contain;
  background-position: 50px 5px;
}

.row
{
  height: 80px;
  top: 30px;
}

h1
{
  color: black;
  background-color: none;
  padding-top: 0;
  padding-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Brush Script MT";
  letter-spacing: 0.4em;
  font-size: 60px;
  text-align: center;
  top: 200px;
  animation: text 3s 1;
}


@keyframes text
{
  0%{
    color: black;
  }
  30%
  {
    color: #fab1a0;
    letter-spacing: 25px;
  }
  50%
  {
    color: #81ecec;
    letter-spacing: 50px;
  }
  80%
  {
    color: #a29bfe;
    letter-spacing: 70px;
  }
}

.main-nav
{
  float: right;
  list-style: none;
  margin-top: 30px;
  display: flex;
}

.main-nav li
{
  display: inline-block;
  transition: 0.5s;
  margin: 0 20px;
}

.main-nav li a
{
  color: white;
  position: relative;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  background-color: #FCE181;
  opacity: 1;

}

.main-nav:hover li a
{
  transform: scale(1.5);
  opacity: 2;
  filter: blur(5px);
}

.main-nav li.active a
{
  border: 3px solid #F5998E;
}

.main-nav li a:hover
{
  border: 3px solid #9FEDD7;
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

.logo img
{
  width: 150px;
  height: auto;
  float: left;
}

body
{
  font-family: monospace;
}

/*.row
{
  max-width: 1200px;
  margin: auto;
  margin-top: 5px;
}
*/
.eme
{
  position: absolute;
  width: 500px;
  margin-left: 0;
  margin-top: 8px;
  margin-left: 405px;
  text-align: center;
}

.button
{
  margin-top: 350px;
  margin-left: 0px;
  top: 150px;
}

.btn
{
  border: 2px solid white;
  padding: 10px 30px;
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  margin-right: 5px;
  font-size: 15px;

  text-transform: uppercase;

}

.btn-one
{
  background-color: #ff7675;
  font-family: "Roboto", sans-serif;
  margin-right: 60px;

}

.btn-two
{
  font-family: "Roboto", sans-serif;
  background-color: #636e72;
  opacity: 0.9;
}

.btn-two:hover
{
  background-color: #81ecec;
  transition: all 0.5s ease- in;
}


