*
{
  margin: 0;
  padding: 0;
}



body
{
  font-family: monospace;
}


header
{
  background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(bg1.jpg) center;
  display: block;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.container
{
  width: 1170px;
  margin: auto;

}

h1
{
  color: black;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Brush Script MT";
  letter-spacing: 0.4em;
  font-size: 60px;
  text-align: center;
  top: 150px;
  animation: text 2s 1;
}

@keyframes text
{
  0%{
    color: #dfe6e9;
  }
  30%
  {
    color: #b2bec3;
    letter-spacing: 25px;
  }
  50%
  {
    color: #636e72;
    letter-spacing: 50px;
  }
  80%
  {
    color: #2d3436;
    letter-spacing: 70px;
  }
}

p
{
  background-color: white;
  background-size: cover;
}

iframe
{
  padding-top: 80px;
}


.row
{
  float: right;
}

.main-nav
{
  position: relative;
  float: right;
  list-style: none;
  margin-top: 10px;
  display: flex;

}

.main-nav li
{
  display: inline-block;
  transition: 0.5s;
  margin: 0 20px;
}

.main-nav li a
{
  color: white;
  position: relative;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  background-color: #FCE181;
  opacity: 1;

}

.main-nav:hover li a
{
  transform: scale(1.5);
  opacity: 2;
  filter: blur(5px);
}

.main-nav li.active a
{
  border: 2px solid black;
}

.main-nav li a:hover
{
  border: 2px solid black;
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

img
{
  width: 475px;
  height: 260px;
  position: center;
  margin: -475px 0px 0px 490px;
}



.buttons
{
  float: center;
  width: 500px;
  margin-top: 8px;
  margin-left: 40px;
  text-align: center;
  visibility: visible;
}

.button1
{
  float: center;
  position: center;
  margin: 30px 30px 0px 210px;


}

.button2
{
  float: right;
  position: absolute;
  margin: -82px 5px 30px 870px;
}

.button a
{
  font-size: 16px;
  display: block;
  list-style: none;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.btn
{
  border: 1px solid #3498db;
  text-decoration: none;
  background: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 10px;
  text-transform: uppercase;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-one
{
  color: white;

}

.btn-two
{
  color: white;

}

.btn-one:hover
{
  color: #3498db;
  background-color: #fff;

}

.btn-two:hover
{
  color: #3498db;
  background-color: #fff;
}

.btn::before
{
  content:"";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 1.5s;
}

.btn-one::before
{
  top: 0;
  border-radius: 0 0 50% 50%;
  height: 100%;
}

.btn-two::before
{
  bottom: 0;
  border-radius: 50% 50% 0 0;
  height: 100%;
}

.btn-one:hover::before
{
  height: 0%;
}

.btn-two:hover::before
{
  height: 0%;
}


