*
{
  margin: 0;
  padding: 0;
}

header
{
  background-image: url(bg1.jpg);
  background-color: #EDEAE5;
  background-size: contain;
  background-position: 50px 5px;
}

.row
{
  height: 80px;
  top: 30px;
}

h1
{
  color: black;
  background-color: none;
  padding-top: 0;
  padding-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Brush Script MT";
  letter-spacing: 0.4em;
  font-size: 60px;
  text-align: center;
  top: 200px;
  animation: text 3s 1;
}


@keyframes text
{
  0%{
    color: black;
  }
  30%
  {
    color: #fab1a0;
    letter-spacing: 25px;
  }
  50%
  {
    color: #81ecec;
    letter-spacing: 50px;
  }
  80%
  {
    color: #a29bfe;
    letter-spacing: 70px;
  }
}

.main-nav
{
  float: right;
  list-style: none;
  margin-top: 30px;
  display: flex;

}

.main-nav li
{
  display: inline-block;
  transition: 0.5s;
  margin: 0 20px;
}

.main-nav li a
{
  color: white;
  position: relative;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  background-color: #FCE181;
  opacity: 1;

}

.main-nav:hover li a
{
  transform: scale(1.5);
  opacity: 2;
  filter: blur(5px);
}

.main-nav li.active a
{
  border: 2px solid black;
}

.main-nav li a:hover
{
  border: 2px solid black;
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

.logo img
{
  width: 150px;
  height: auto;
  float: left;
}

body
{
  font-family: monospace;
}


.buttons
{
  position: absolute;
  width: 500px;
  margin-left: 0;
  margin-top: 8px;
  margin-left: 405px;
  text-align: center;
}

.button
{
  margin-top: 350px;
  margin-left: 0px;
  top: 150px;
}

.btn
{
  border: 1px solid #3498db;
  text-decoration: none;
  background: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 10px;
  text-transform: uppercase;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn-one
{
  border: 2px solid pink;
  background-color: #fab1a0;
  margin-right: 60px;

}

.btn-two
{
  color: #fff;
}

.btn-two:hover
{
  color: #3498db;
}

.btn::before
{
  content:"";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 1s;
}

.btn-two::before
{
  bottom: 0;
  border-radius: 50% 50% 0 0;
  height: 100%;
}

.btn-two:hover::before
{
  height: 0%;
}










